    <div *ngFor='let modelo of lista; let i = index' >
        <div *ngIf="i==nImage" class="container">
            <main  class="main tile">
                <div class="image-div">
                    <img  *ngIf="modelo.foto" class="img-height" src="{{dir + iduser + '/' + modelo.iddetalle + '/' + modelo.foto}}" 
                    id="imagen" name ="image"
                    />
                </div>
            </main>
            <div class="sidebar-top tile">
                <button title="Volver a Modelo" class="btn btn-primary" (click)="goOut()">
                    <span class="glyphicon glyphicon-circle-arrow-left"></span>
                </button>                
                <h2>{{detalle.corta}}</h2>
                <p>{{detalle.larga}}</p>
                <div *ngIf="detalle.largo>0">
                    Largo: {{detalle.largo}}  
                </div>                
                <div *ngIf="detalle.ancho>0">
                    Ancho: {{detalle.ancho}}
                </div>                
                <div *ngIf="detalle.ventanas>0">
                    Ventanas: {{detalle.ventanas}}
                </div>                
            </div>
        </div>
    </div>